body{
  line-height: inherit;
}
.header{
  display: flex;
  justify-content: space-between;
  width:100%;
  height:90px;
  background: #1863fd;
  .logoBox{
    width:14%;
    height: 100%;
    .logo{
      margin: 24px 20px;
    }
  }
  .headerRt{
    display: flex;
    justify-content: space-around;
    align-items: centerflex-start ;
    margin:10px 3% 0 0;
    a{
      color: #fff;
    }
    .account{
      padding-left:20px;
      .accountPic{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}


