.contentLf {
  height: 100%;
  width: 246px;
}
.contentLf .menuBox {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.contentLf .menuBox .iconPic {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.contentLf .menuBox .title {
  display: inline-block;
  vertical-align: middle;
}
